
<% if action == "POST" %>
    <% action_url = bands_url %>
    <% button_text = "add band" %>
<% else %>
    <% action_url = band_url(band) %>
    <% button_text = "update band" %>
<% end %>

<% if flash[:errors] %>
    <ul>
        <% flash[:errors].each do |error| %>
         <li><%= error %></li>
        <% end %>
    </ul>
<% end %>


<form action=<%= action_url %> method="POST">

    <% if action == "PATCH" %>
        <input type="hidden" name="_method" value="PATCH">
    <% end %>

    <%= auth_token %>

    <label>Band's Name:
        <input type="text" name='band[name]' value="<%= band.name %>">
    </label>

    <input type="submit" value=<%= button_text %>>
</form>

<form action=<%= bands_url %> method="GET"> <%= auth_token %> <input type="submit" value="Go Back" > </form>